@page "/"
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

@code {
    private string _message = "";
    public class Portfolio
    {
        public string FullName { get; set; } = "JARED DENNING";
        public string Title { get; set; } = ".NET Software Engineer";
        public string Location { get; set; } = "American Fork, Utah";
        public string PhoneNumber { get; set; } = "405-822-7237";
        public string Email { get; set; } = "jared@denningtech.com";
        public string AboutMe { get; set; } = "Always Learning, Always Training. As a dedicated Full-Stack .NET Developer with over three years of experience, I specialize in designing and implementing scalable software solutions using .NET, C#, Azure, and Angular. Proficient in cloud development, DevOps, CI/CD pipelines, and database management, I ensure high uptime and performance in every project. Passionate about leveraging emerging technologies like OpenAI and ChatGPT, I am committed to continuous improvement and delivering innovative, data-driven results through collaborative problem-solving.";

        public string Education { get; set; } = "BS Computer Science (Emphasis in Data Science), Brigham Young University - Idaho, Rexburg  ";
        public List<string> Skills { get; set; } = new List<string>() { "ASP.NET", ".NET Framework", "C#", "Azure (Cloud Services)", "Entity Framework Core (EF Core)", "Azure Storage", "Azure Functions", "SQL", "Blazor", "MVC Architecture", "Windows Presentation Foundation (WPF)", "Angular", "JavaScript", "Bootstrap", "Python", "C++", "Git", "Agile Methodologies", "Microsoft SQL Server Management Studio" };
        public List<string> WorkExperience { get; set; } = new List<string>()
        {
            "Cloud Development: Managed Browsium’s cloud service for 99.9% uptime on Azure. Incorporated Azure Functions and Hangfire background tasks triggers. Met with other departments, gathering feature requirements and implemented them.",
            "Full-stack Development: Worked on various full-stack projects, including Dashboard Features and Test Automation, utilizing .NET, C#, and relevant MVC frameworks.",
            "DevOps and CI/CD: Collaborated on the development and maintenance of CI/CD pipelines using Azure DevOps and GitHub, ensuring smooth deployment and testing processes.",
            "Testing and Quality Assurance: Developed and updated over 250 unit tests using MSTestV2, increasing code coverage from 50% to 70% and ensuring high-quality, maintainable code. Implemented best practices for automated testing, which reduced bug rates in production by 15% and facilitated smoother code reviews.",
            "Database and Data Management: Designed and implemented database schema updates using SQL Server and Microsoft SQL Server Management Studio, enhancing data integrity and improving query performance. Developed comprehensive data models and RESTful APIs for efficient CRUD operations using EF Core and Web API 2. Seamlessly integrated SQL databases with Angular front-end applications.",
            "Browser Extension Development: Migrated cross-platform browser extensions to MV3. Developed and updated browser extensions for Chrome, Edge, Firefox, and Safari, ensuring compatibility and functionality.",
            "Emerging Technologies: Leveraged OpenAI and ChatGPT to develop internal tools that generated 1,200 accurate, JSON-formatted definitions. These tools automated the definition creation process, reducing manual effort by over 50%. This innovation enhanced product integration and accelerated development cycles."
        };
    }

    private Portfolio resume = new Portfolio();
    private bool _isPrinting = false;

    private async Task DownloadPDF()
    {
        await JS.InvokeVoidAsync("window.open", "/Assets/Jared_Denning.pdf", "_blank");
    }

    private async Task ShareResume()
    {

        var url = NavigationManager.Uri;
        await JS.InvokeVoidAsync("copyToClipboard", url);
        _message = "Link Copied!";
        StateHasChanged();
        await Task.Delay(1000);
        _message = "";
        StateHasChanged();
    }
}

@inject IJSRuntime JS
<head>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

</head>

<div id="action-buttons" class="@(_isPrinting ? "d-none" : "")">
    <button @onclick="DownloadPDF" class="btn btn-primary">
        <i class="bi bi-download"></i>
    </button>
    <button @onclick="ShareResume" class="btn btn-primary">
        <i class="bi bi-share"></i>
        <span class="message">@_message</span>
    </button>
</div>

<div id="resume" class="@(_isPrinting ? "print-only" : "")">
    <header>
        <h1>@resume.FullName</h1>
        <h3>@resume.Title</h3>
        <p>
            <span>@resume.Location</span> |
            <span>@resume.PhoneNumber</span> |
            <a href="mailto:@resume.Email">@resume.Email</a>
        </p>
    </header>

    <section id="skills">
        <h2>Skills</h2>
        <ul>
            @foreach (var skill in resume.Skills)
            {
                <li>@skill</li>
            }
        </ul>
    </section>

    <section id="about-me">
        <h2>About Me</h2>
        <p>@resume.AboutMe</p>
    </section>

    <section id="education">
        <h2>Education</h2>
        <p>@resume.Education</p>
    </section>


    <section id="work-experience">
        <h2>Work Experience</h2>
        @foreach (var experience in resume.WorkExperience)
        {
            <article class="experience-item">
                <p><b>@experience.Substring(0, experience.IndexOf(':') + 1)</b>@experience.Substring(experience.IndexOf(':') + 1)</p>
            </article>
        }
    </section>
</div>
